* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #c6d9e4;
}
.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main__container .main__container__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 35px 32px 35px 32px;
  background: #e8f9fd;
  border-radius: 8px;
}
.main__container__items img{
  width: 150px;
  height: 150px;
  margin-bottom: 1.5rem;
}
.main__container__items h1 {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  margin-bottom: 8px;
  color: #006e7f;
  font-size: large;
  font-weight: 540;
}
@media screen and (max-width: 800px) {
 
  .main__container__items{
    font-size: medium;
    margin-top: 8px;
  }
  .main__container__items img{
    width: 130px;
    height: 130px;
    margin-bottom: 1.4rem;
  }
}
@media screen and (max-width: 400px) {
  .main__container {
    height: auto;
  }
  .main__container .main__container__items {
    border-radius: 0;
  }
  
  .main__container__items {
    font-size: small;
    letter-spacing: 0.5px;
    font-weight: 540;
    margin-top: 6px;
  }
  .main__container__items img{
    width: 110px;
    height:110px;
    margin-bottom: 1.4rem;
  }
}
@media screen and (max-width: 326px) {
  .main__container {
    height: auto;
  }
  .main__container .main__container__items {
    border-radius: 0;
  }
  .main__container__items h1:first-child {
    
    font-size: x-small;
    letter-spacing: 0.6px;
    font-weight: 540;
    margin-top: 6px;
  }
  .main__container__items img{
    width: 100px;
    height:100px;
    margin-bottom: 1rem;
  }
}
  