<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style_notify.css" />
  </head>
  <body>
    <div class="main__container">
      <div class="main__container__items">
        <img src="../static/thanks-beard.gif" >
        <h1>Your Product has been registered on Horus.</h1>
        <h1>
          You will get Notefied whenever product's price is less than the desired
          price.
        </h1>
      </div>
    </div>
  </body>
</html>
